@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}
